
{{#each products}}
<div class="row">
{{#each this }}
   <div class="col-sm-4">
      <div class="card">
        <div class="text-center">
          <img src={{this.imagepath}} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{this.productName}}</h5>
          <p class="card-text">{{this.information.pate}}<br>{{this.information.garniture}}<br>{{this.information.sauce}}</p>
          <div>
              <p class="price float-left">{{this.price}}$</p>
              <a href="#" class="btn btn-danger float-right">commander</a>
          </div>
        </div>
      </div>
    </div>
{{/each}}
  </div>
{{/each}}